@charset "UTF-8";

/**
 * @author Prénom Nom courriel
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Mise en page
 *** entête
 *** main
 *** formulaire
 *** interactivité
 *** footer
 */


/* Normalize
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires
   ========================================================================== */
 @import url(utilitaires.css);

/* Charte typographique
   ========================================================================== */
 /*@import url(polices/News_Cycle);*/
@import url(typo.css);
/* Grille
   ========================================================================== */
@import url(grille.css);

/* Mise en page
   ========================================================================== */
.titre-principal{
 width: 100%;
}
/*.boite {
    width: 40%;
 }*/
footer {
   text-align: center;
}