@charset "UTF-8";

/**
 * @author Prénom Nom courriel
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Mise en page
 *** entête
 *** main
 *** formulaire
 *** interactivité
 *** footer
 */


/* Normalize
   ========================================================================== */
@import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
 

/* Charte typographique
   ========================================================================== */
 @import url(polices/News_Cycle);

/* Grille
   ========================================================================== */
 .nom-complet .rangee,
 .telephone .rangee,
 .date .rangee{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
 }
.nom-complet .cols_6_de_12 {
   width: 49%;
}

/* Mise en page
   ========================================================================== */
 